@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

html {
    box-sizing: border-box;
    font-size: 100%;
}

* , *:before, *:after {
    box-sizing: inherit;
}


body {
    background-color: rgb(199, 132, 143);
    background-image: linear-gradient(rgb(204, 84, 104) 2%, rgb(247, 216, 221) 108%);
    color: #fff;
    min-height: 100vh;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}