* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background: black;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
    gap: 100px;
}

#linkedin, #github, #twitter, #instagram, #website {
    font-size: 100px;
    color: white;
    animation: animate 4s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
}

#linkedin {
    animation-delay: 0.3s;
}
#github {
    animation-delay: 0.7s;
}
#twitter {
    animation-delay: 0.10s;
}
#instagram {
    animation-delay: 0.7s;
}
#webite {
    animation-delay: 0.3s;
}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(300deg);
    }
}